// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$white: white; /// Verde para bordes y algunas palabras
$black: black; /// Bordes o letra
$red: red; /// Bordes o letra
$orange: orange;
$green: green;
$purple: purple;
$blue: blue;
$yellow: yellow;